body, input, button {
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
#main {
  width: 800px;
  margin: 0 auto;
}
h1 {
  font-size: 24px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
#search {
  text-align: center;
  padding: 0 0 20px;
}
#results {
  border: 1px solid #eee;
  border-width: 1px 0;
  min-height: 600px;
}
table {
  border-collapse: collapse;
  margin-top: 30px;
}
td, th {
  text-align: left;
  vertical-align: top;
  padding-bottom: 10px;
}
th {
  width: 100px;
}
td.time {
  width: 100px;
}
td.description {
  border-left: 3px solid #222;
  padding-left: 30px;
}
h4 {
  margin: 0;
}
p {
  margin: 0;
}

input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  margin: 0;
  box-shadow: none;
  margin-right: 10px;
}
input[type="text"]:focus {
  border: solid 1px #abc;
  box-shadow: 0 0 5px 1px #def;
  outline: none;
}
input[type="text"], button {
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
}
button {
  background: #1d6bae;
  border: none;
  color: white;
}

footer {
  color: #999;
  text-align: center;
  padding: 20px 0;
}

/* Loading Spinner */
.sp {
  width: 32px;
  height: 32px;
  clear: both;
  margin: 20px auto;
}
.sp-3balls, .sp-3balls:before, .sp-3balls:after {
  border-radius: 50%;
  background-color: $spCol;
  width: 18px;
  height: 18px;
  transform-origin: center center;
  display: inline-block;
}
.sp-3balls {
  position: relative;
  background-color: rgba($spCol,1);
  opacity: 1;
  -webkit-animation: spScaleAlpha 1s infinite linear;
  animation: spScaleAlpha 1s infinite linear;
}
.sp-3balls:before, .sp-3balls:after {
  content: '';
  position: relative;
  opacity: 0.25;
}
.sp-3balls:before {
  left: 30px;
  top: 0px;
  -webkit-animation: spScaleAlphaBefore 1s infinite linear;
  animation: spScaleAlphaBefore 1s infinite linear;
}
.sp-3balls:after {
  left: -30px;
  top: -23px;
  -webkit-animation: spScaleAlphaAfter 1s infinite linear;
  animation: spScaleAlphaAfter 1s infinite linear;
}
@-webkit-keyframes spScaleAlpha {
  0% { opacity: 1; }
  33% { opacity: 0.25; }
  66% { opacity: 0.25; }
  100% { opacity: 1; }
}
@keyframes spScaleAlpha {
  0% { opacity: 1; }
  33% {  opacity: 0.25; }
  66% { opacity: 0.25; }
  100% {  opacity: 1; }
}
@-webkit-keyframes spScaleAlphaBefore {
  0% { opacity: 0.25; }
  33% { opacity: 1; }
  66% { opacity: 0.25; }
}
@keyframes spScaleAlphaBefore {
  0% { opacity: 0.25; }
  33% { opacity: 1; }
  66% { opacity: 0.25; }
}
@-webkit-keyframes spScaleAlphaAfter {
  33% { opacity: 0.25; }
  66% { opacity: 1; }
  100% { opacity: 0.25; }
}
@keyframes spScaleAlphaAfter {
  33% { opacity: 0.25; }
  66% { opacity: 1; }
  100% { opacity: 0.25; }
}